
/projects/*
/projects/*/build
/projects/*/lychee.store
!/projects/README.md
!/projects/blitzkrieg
!/projects/boilerplate
!/projects/color
!/projects/cultivator
!/projects/lethalmaze
!/projects/mode7
!/projects/pong
!/projects/p2pdemo

/lychee/build/*
/lychee/docs/*
/lychee.store

/fertilizers/*
!/fertilizers/html
!/fertilizers/nodejs

/sorbet.log
/sorbet/lychee.store
/sorbet/build/*

