
/projects/*
/projects/*/build
/projects/*/lychee.store
!/projects/README.md
!/projects/boilerplate
!/projects/cultivator
!/projects/mode7
!/projects/pong
!/projects/tictactoe

!/projects/blitzkrieg
!/projects/lethalmaze
!/projects/p2pdemo

/lychee/build/*
/lychee/doc/*
/lychee.store

/fertilizers/*
!/fertilizers/html
!/fertilizers/nodejs

/sorbet/lychee.store
/sorbet/.pid
/sorbet/build/*

.DS_Store
npm-debug.log
