
@font-face {
	font-family: 'icon';
	src: url('icon.eot');
	src: url('icon.eot?#iefix') format('embedded-opentype'),
		 url('icon.woff') format('woff'),
		 url('icon.ttf') format('truetype'),
		 url('icon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.eot');
	src: url('museo-sans-300.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-300.woff2') format('woff2'),
		 url('museo-sans-300.woff') format('woff'),
		 url('museo-sans-300.ttf') format('truetype'),
		 url('museo-sans-300.svg#museo_sans300') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'museo-sans-500';
	src: url('museo-sans-500.eot');
	src: url('museo-sans-500.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-500.woff2') format('woff2'),
		 url('museo-sans-500.woff') format('woff'),
		 url('museo-sans-500.ttf') format('truetype'),
		 url('museo-sans-500.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}



menu li:before,
a.button:before,
button:before,
label:before {
	margin: 0px 8px 0px 0px;
	font-family: 'icon';
	font-weight: normal;
	font-variant: normal;
	text-align: left;
	text-transform: none;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

menu li.ico-only:before,
a.button.ico-only:before,
button.ico-only:before,
label.ico-only:before {
	margin: 0px;
}



.ico-boot:before     { content: "\e05c"; }
.ico-browser:before  { content: "\e037"; }
.ico-console:before  { content: "\e011"; }
.ico-download:before { content: "\e083"; }
.ico-editor:before   { content: "\e00c"; }
.ico-error:before    { content: "\e082"; }
.ico-exit:before     { content: "\e097"; }
.ico-folder:before   { content: "\e039"; }
.ico-help:before     { content: "\e08b"; }
.ico-intro:before    { content: "\e020"; }
.ico-message:before  { content: "\e086"; }
.ico-offline:before  { content: "\e082"; }
.ico-okay:before     { content: "\e080"; }
.ico-online:before   { content: "\e071"; }
.ico-projects:before { content: "\e04b"; }
.ico-refresh:before  { content: "\e098"; }
.ico-settings:before { content: "\e09a"; }
.ico-status:before   { content: "\e06a"; }
.ico-start:before    { content: "\e071"; }
.ico-stop:before     { content: "\e072"; }
.ico-tools:before    { content: "\e059"; }
.ico-upload:before   { content: "\e084"; }

#menu-toggle {
	display: none;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: 16px;
	font-family: 'icon';
	font-size: 32px;
	font-weight: normal;
	font-variant: normal;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
}

#menu-toggle.active {
	display: inline-block;
}

#menu-toggle:before {
	content: "\e034";
}


body {
	color: #e6e6e6;
	background: #404948;
	margin: 0;
	padding: 0;
	font-family: 'museo-sans-300';
}

menu {
	margin: 16px 0px 0px 32px;
	padding: 0px;
	width: auto;
	height: 64px;
	font-family: 'museo-sans-300';
}

menu li {
	display: inline-block;
	width: auto;
	height: 24px;
	line-height: 24px;
	margin: 16px;
	padding: 0px;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	list-style: none;
	cursor: pointer;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

menu li:hover,
menu li.active {
	color: #32afe5;
	text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px, #32afe5 0 0 40px;
}

aside {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 16px;
	z-index: 100;
}

aside > * {
	display: inline-block;
	margin: 16px 0px 0px 8px;
}

section {
	display: block;
	padding: 0px 32px 32px 32px;
	position: absolute;
	top: 96px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	-moz-transform: translate(-100%, 0%);
	-ms-transform: translate(-100%, 0%);
	-webkit-transform: translate(-100%, 0%);
	transform: translate(-100%, 0%);
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	opacity: 0;
}

section.active {
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	opacity: 1;
}



/*
 * LAYOUT
 */

div.main {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;

}

div.main > article {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

div.main > article:nth-child(1) {
	margin: 0px 16px 0px 0px;
	min-width: 384px;
	max-width: 384px;
}

div.main > article:nth-child(2) {
	margin: 0px 0px 0px 16px;
}

div.main > article:nth-child(2) figure {
	display: block;
	min-height: 512px;
	overflow: auto;
}



div.wizard {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;
	max-width: 100%;
	margin: 0px auto;

	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

div.wizard article {
	min-width: 256px;
	max-width: 256px;

	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

div.wizard article.wide {
	min-width: 384px;
	max-width: 512px;
}

div.wizard article img {
	width: 128px;
	height: 128px;
	border: 1px solid #2f3736;
	background: #2f3736;
}

div.wizard article figure {
	margin: 16px auto;
	min-width: 128px;
	max-width: 256px;
	height: 128px;
	overflow: auto;
}



/*
 * CONTENT
 */

article {
	margin: 16px;
	padding: 0px;
	font-family: 'museo-sans-500';
	background: #363f3e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

article h3 {
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 0px;
	padding: 16px;
	background: #2f3736;
	font-family: 'museo-sans-300';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 2px solid #404948;
}

article h3 b {
	margin: 0px 16px 0px 0px;
	font-family: 'museo-sans-500';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
}

article > div,
article > p {
	margin: 32px;
}

article h3 ~ div {
	min-height: 144px;
}

article q {
	padding: 0px 4px;
	background: #1f2726;
}

article pre {
	margin: 16px;
	padding: 8px;
	background: #1f2726;
	overflow: auto;
}



/*
 * UI
 */

@-moz-keyframes textpulse {
	0%   { text-shadow: #32afe5 0 0 10px;     }
	50%  { text-shadow: transparent 0 0 10px; }
	100% { text-shadow: #32afe5 0 0 10px;     }
}

@-webkit-keyframes textpulse {
	0%   { text-shadow: #32afe5 0 0 10px;     }
	50%  { text-shadow: transparent 0 0 10px; }
	100% { text-shadow: #32afe5 0 0 10px;     }
}

@keyframes textpulse {
	0%   { text-shadow: #32afe5 0 0 10px;     }
	50%  { text-shadow: transparent 0 0 10px; }
	100% { text-shadow: #32afe5 0 0 10px;     }
}

@-moz-keyframes pulse {
	0%   { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
	50%  { border: 1px solid #32afe5; box-shadow: #32afe5 0 0 20px;     }
	100% { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
}

@-webkit-keyframes pulse {
	0%   { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
	50%  { border: 1px solid #32afe5; box-shadow: #32afe5 0 0 20px;     }
	100% { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
}

@keyframes pulse {
	0%   { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
	50%  { border: 1px solid #32afe5; box-shadow: #32afe5 0 0 20px;     }
	100% { border: 1px solid #545857; box-shadow: transparent 0 0 20px; }
}



a {
	color: #32afe5;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

a:hover,
a:focus {
	text-shadow: #32afe5 0 0 10px;
	-moz-animation: textpulse 3000ms infinite;
	-webkit-animation: textpulse 3000ms infinite;
	animation: textpulse 3000ms infinite;
}

abbr {
	border-bottom: 1px dotted #545857;
	cursor: help;
}

p {
	margin: 1em 0px;
}

div.center,
figure.center,
p.center {
	text-align: center;
}


ul.select {
	width: 128px;
	margin: 0px auto;
	padding: 0px;
}

ul.select li {
	margin: 0px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	list-style: none;
	text-align: left;
}

ul.select li span {
	display: inline-block;
	width: auto;
	line-height: 20px;
	font-family: 'museo-sans-300';
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
}

ul.select input {
	display: inline-block;
	line-height: 28px;
	margin: 0px 16px 0px 0px;
	padding: 0px;
}



a.button,
button {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 32px;
	padding: 0px 8px;
	font-size: 14px;
	color: #f2f2f2;
	background: #545857;
	border: 1px solid #5d6161;
	border-radius: 2px;
	font-family: 'museo-sans-300';
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

a.button:not(.ico-only),
button:not(.ico-only) {
	min-width: 110px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
	background: #32afe5;
	text-shadow: #eeeeee 0 0 10px;
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}

a.button:not([href]),
a.button:not([href]):hover,
a.button:not([href]):focus,
button[disabled],
button[disabled]:hover,
button[disabled]:focus {
	color: #545857;
	background: #2f3736;
	border: 1px solid #5d6161;
	text-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	-moz-animation: none;
	-webkit-animation: none;
}

*[onclick] {
	cursor: pointer;
}

/* label will disallow browser-based appearance of input */
label.file {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 32px;
	padding: 0px 8px;
	font-size: 14px;
	color: #f2f2f2;
	background: #545857;
	border: 1px solid #5d6161;
	border-radius: 2px;
	font-family: 'museo-sans-300';
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	overflow: hidden;
}

label.file:not(.ico-only) {
	min-width: 110px;
}

label.file:hover,
label.file:focus {
	background: #32afe5;
	text-shadow: #eeeeee 0 0 10px;
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}

label.file input[type="file"] {
	display: block;
	position: absolute;
	cursor: pointer;
	width: 0px;
	height: 0px;
	overflow: hidden;
}



input[type="number"] {
	margin: 0px;
	padding: 0px 0px 0px 8px;
	width: 118px;
	height: 30px;
	color: #32afe5;
	background: transparent;
	border: 1px solid #5d6161;
	border-radius: 2px;
	outline: none;
	cursor: text;
	text-align: right;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
	color: #32afe5;
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}

input[type="number"]::-moz-placeholder {
	color: #efefef;
	text-align: left;
}

input[type="number"]::-webkit-input-placeholder {
	color: #efefef;
	text-align: left;
}

input[type="number"]::-ms-input-placeholder {
	color: #efefef;
	text-align: left;
}

.input-group input {
	font-size: 18px;
	padding: 8px 16px;
	border-radius: none;
	border: none;
	border-bottom: 1px solid #474f4f;
	display: block;
}

.input-group input:last-child {
	border-bottom: none;
}

.input-group {
	display: inline-block;
	border: 1px solid #808080;
	border-radius: 3px;
}


input[type="radio"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	background: transparent;
	border: 1px solid #efefef;
	border-radius: 32px;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="radio"]:checked {
	color: #32afe5;
	border: 1px solid #32afe5;
	background: #32afe5;
}

input[type="radio"]:hover {
	background: #32afe5;
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}



input[type="range"] {
	margin: 14px 0px;
	padding: 0px;
	width: 126px;
	height: 2px;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	background: #b3b3b3;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	outline: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="range"]:before,
input[type="range"]:after {
	position: absolute;
	width: 30px;
	height: 32px;
	font-size: 14px;
	line-height: 15px;
	padding: 0px 4px;
}

input[type="range"]:before {
	margin: -7px 0px 0px -48px;
	padding: 0px 0px 0px 4px;
	content: attr(min);
	text-align: right;
}

input[type="range"]:after {
	margin: -7px 0px 0px 16px;
	padding: 0px 4px 0px 0px;
	content: attr(max);
	text-align: left;
}

input[type="range"]:hover,
input[type="range"]:focus {
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	background: #363f3e;
	border: 3px solid #b3b3b3;
	border-radius: 32px;
	-moz-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	outline: none;
	cursor: move;
	-moz-appearance: none;
	box-shadow: 0 0 0 3px #363f3e;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	background: #363f3e;
	border: 3px solid #b3b3b3;
	border-radius: 32px;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	outline: none;
	cursor: move;
	-webkit-appearance: none;
	box-shadow: 0 0 0 3px #363f3e;
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
	border: 3px solid #32afe5;
	box-shadow: #32afe5 0 0 20px, 0 0 0 3px #363f3e;
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:focus::-ms-thumb {
	border: 3px solid #32afe5;
	box-shadow: #32afe5 0 0 20px, 0 0 0 3px #363f3e;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
	border: 3px solid #32afe5;
	box-shadow: #32afe5 0 0 20px, 0 0 0 3px #363f3e;
}



input[type="text"] {
	margin: 0px;
	padding: 0px 8px;
	width: 110px;
	height: 30px;
	color: #32afe5;
	background: transparent;
	border: 1px solid #5d6161;
	border-radius: 2px;
	outline: none;
	cursor: text;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="text"][placeholder] {
	color: #545857;
}

input[type="text"][placeholder] {
	color: #f2f2f2;
}

input[type="text"]:hover,
input[type="text"]:focus {
	color: #32afe5;
	-moz-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}



label {
	text-transform: uppercase;
}

label[disabled] {
	color: #545857;
}



table {
	width: 100%;
	margin: 0px auto;
	border-spacing: 0px 2px;
}

table th {
	margin: 0px;
	padding: 16px;
	font-size: 14px;
	text-align: left;
	font-family: 'museo-sans-300';
	text-transform: uppercase;
	font-weight: normal;
}

table tr {
	margin: 0px;
}

table tr.div {
	height: 32px;
}

table td {
	margin: 0px;
	padding: 8px 16px;
	background: #363f3e;
	font-family: 'museo-sans-300';
	font-weight: normal;
	text-align: left;
}

table td:first-child {
	font-family: 'museo-sans-500';
}

table td a.button,
table td button {
	margin: 0px 8px 0px 0px;
}

table.vertical th {
	width: 96px;
	padding: 32px;
	vertical-align: top;
	text-align: left;
}

table.vertical td {
	width: 224px;
	text-align: center;
}

table.vertical tr:first-child th,
table.vertical tr:first-child td {
	border-bottom: 1px solid #404948;
}


table.vertical tr:last-child th,
table.vertical tr:last-child td {
	border-bottom: 1px solid #404948;
}



footer {
	display: block;
	position: fixed;
	margin: 0px;
	padding: 8px;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: #e6e6e6;
	background: #2f3736;
	font-family: 'museo-sans-300';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	z-index: 200;
}



/* Media Queries */
@media (max-width: 678px) {

	menu {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: auto;
		left: 0px;
		margin: 0px;
		background: #2f3736;
		z-index: 100;
	}

	aside {
		margin: 0px 16px 0px 0px;
	}

	section {
		top: 64px;
	}

	menu li {
		display: none;
	}

	menu.active li {
		display: block;
		margin: 0px;
		padding: 16px;
		background: #2f3736;
	}

	#menu-toggle {
		display: inline-block;
		position: fixed;
		top: 0px;
		left: 0px;
		-moz-transition: all 250ms ease-out;
		-ms-transition: all 250ms ease-out;
		-webkit-transition: all 250ms ease-out;
		transition: all 250ms ease-out;
	}

	menu.active #menu-toggle {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

}

@media (max-width: 640px) {

	div.wizard article {
		max-width: 512px;
	}

	article h3 ~ div {
		min-height: 64px;
	}

	.wizard article:last-child {
		margin-bottom: 52px;
	}

	a.button:before:not(.ico-only),
	button:before:not(.ico-only) {
		display: none;
	}

}

