
.tool-ui-Dropzone {
	display: table;
	width: 80%;
	margin: 32px auto;
	border: 0;
	border-spacing: 2px;
}

.tool-ui-Dropzone > div {
	display: table-cell;
	width: 50%;
	height: 128px;
	vertical-align: middle;
	border: 1px solid #666666;
	background: rgba(154, 181, 200, 0.5);
}

.tool-ui-Dropzone > div > span {
}

.tool-ui-Dropzone > ul {
	display: table-cell;
	width: 50%;
	height: 128px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	list-style: none;
}

.tool-ui-Dropzone > ul > li {
	margin: 0px 0px 2px 0px;
	padding: 6px 6px;
	border: 1px solid #666666;
	background: rgba(154, 181, 200, 0.5);
	text-align: left;
}

.tool-ui-Dropzone > ul > li.message {
	text-align: center;
}

