
@font-face {
	font-family: 'exolight';
	src: url('/webfont/exo-light.eot');
	src: url('/webfont/exo-light.eot?#iefix') format('embedded-opentype'),
		 url('/webfont/exo-light.woff') format('woff'),
		 url('/webfont/exo-light.ttf') format('truetype'),
		 url('/webfont/exo-light.svg#exolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exobold';
	src: url('/webfont/exo-bold.eot');
	src: url('/webfont/exo-bold.eot?#iefix') format('embedded-opentype'),
		 url('/webfont/exo-bold.woff') format('woff'),
		 url('/webfont/exo-bold.ttf') format('truetype'),
		 url('/webfont/exo-bold.svg#exoextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

