
button {
	padding: 0.25em 1em;
	color: #fff;
	font-size: 14px;
	border: 2px solid #333;
	border-radius: 10px;
	cursor: pointer;

	background: transparent;
	box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.5);

	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

button,
button.cancel:hover {
 	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff3333 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff3333), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */
}

button.cancel {
	color: #999;
	background: #333; /* Old browsers */
	background-image: -moz-linear-gradient(top, #333333 0%, #555555 50%, #333333 51%, #444444 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(50%,#555555), color-stop(51%,#333333), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #333333 0%,#555555 50%,#333333 51%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #333333 0%,#555555 50%,#333333 51%,#444444 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #333333 0%,#555555 50%,#333333 51%,#444444 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #333333 0%,#555555 50%,#333333 51%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

button:hover,
button:focus {
	color: #fff;
	border: 2px solid #fff;
	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

