
input {
	margin: 0;
	padding: 2px 5px;
	color: #fff;
	background: #222;
	border: 2px solid #1a1a1a;
	border-radius: 6px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
}

input,
input:hover {
	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

input:hover {
	outline: 0 none;
	border: 2px solid #fff;
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

input:focus {
	outline: 0 none;
	border: 2px solid #fff;
}

input[type='text'] {
	width: 5em;
	margin: 0;
	text-align: right;
}

input[type='number'] {
	width: 3em;
	margin: 0;
	text-align: right;
}

