.ui-lightbox {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000040, endColorstr=#40000040);
	z-index: 200;
}

.ui-lightbox[id] {
	position: fixed;
}

.ui-lightbox.hidden {
	top: -4000px;
	bottom: auto;
	opacity: 0;
}

.ui-lightbox, .ui-lightbox.hidden {
	transition: all 750ms ease-out;
	-ms-transition: all 750ms ease-out;
	-moz-transition: all 750ms ease-out;
	-webkit-transition: all 750ms ease-out;
}

.ui-lightbox header, .ui-lightbox article {
	display: block;
	position: relative;
	width: 60%;
	margin: 5% auto 0px auto;
	padding: 10px 20px;
}

.ui-lightbox header {
	margin-bottom: 0px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
 	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff3333 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff3333), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */
	border-radius: 10px 10px 0 0;
}

.ui-lightbox header > h3 {
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #fff;
	vertical-align: middle;
}

.ui-lightbox header > button {
	float: right;
	padding: 0.25em 1em;
	color: #fff;
	font-size: 14px;
	border: 2px solid #333;
	border-radius: 10px;
	vertical-align: middle;
	cursor: pointer;

	background: #222;
	box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.5);

	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

.ui-lightbox header > button:hover {
	border: 2px solid #fff;
	background: #444;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1.0);

 	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff3333 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff3333), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */

}

.ui-lightbox article {
	min-height: 5em;
	max-height: 80%;
	margin-top: 0px;
	padding-bottom: 15px;
	color: #333;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d0d0d0));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0', GradientType=0);
	border-radius: 0 0 10px 10px;
	overflow: auto;
}

.ui-lightbox article h3 {
	color: #222;
	border-bottom: 1px solid #222;
}
  
