
body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-y: scroll;
}

body *::selection {
	background: #991111;
}

section#headline {
	margin: 0;
	padding: 1em 20%;
	color: #fff;
 	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff3333 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff3333), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */
}

#headline h1 {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

#headline h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#headline a {
	color: #000;
	text-decoration: none;
}

#headline a:hover,
#headline a:focus,
#headline a.active {
	color: #fff;
}

#headline a,
#headline a:hover,
#headline a:focus {
	transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

article#instructions {
	display: block;
	position: relative;
	margin: 2em 20% 0 20%;
	padding: 1em;
	font-size: 1.25em;
	border: 2px solid #fff;
	border-radius: 10px;
}

article code,
article mark {
	padding: 0 0.5em;
	color: #fff;
	background: #333;
	border-radius: 4px;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: Bitstream Vera Sans Mono,Courier New,Lucida Console,monospace;
}

article pre {
	overflow: auto;
}

article a {
	color: #ff2222;
	text-decoration: none;
}

article a:hover,
article a:focus {
	color: #ffcc44;
}

.ui-main {
	position: relative;
	margin: 1em 20% 1em 20%;
}

.ui-navi {
	display: block;
	background: #333;
	margin: 0;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 10px;
}

.ui-viewport {
	display: block;
	background: #333;
	margin: 0;
	padding: 0;
	border: 2px solid #fff;
	border-radius: 10px;
}

.ui-log {
	display: block;
	position: fixed;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	background: #333;
	border-top: 2px solid #fff;
	border-radius: 10px 10px 0 0;
	overflow: scroll;
}

.ui-log.hidden {
	top: 100%;
	transition: 500ms top ease-out;
	-ms-transition: 500ms top ease-out;
	-moz-transition: 500ms top ease-out;
	-webkit-transition: 500ms top ease-out;
}

.ui-log.visible {
	top: 80%;
	transition: 500ms top ease-out;
	-ms-transition: 500ms top ease-out;
	-moz-transition: 500ms top ease-out;
	-webkit-transition: 500ms top ease-out;
}


a.fancybutton,
div.fancybutton {
	display: inline-block;
	color: #fff;
	line-height: 1em;
	border: 2px solid #222;
	border-radius: 10px;
	cursor: pointer;

	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff4444 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff4444), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff4444 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff4444 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff4444 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff4444 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */

	-webkit-transition: all 500ms ease-out;   
}

a.fancybutton::selection,
div.fancybutton::selection {
	background: transparent;
}

a.fancybutton:hover,
div.fancybutton:hover {
	color: #fff;
	border: 2px solid #fff;
	-webkit-transition: all 500ms ease-out;
}

pre.sh_sourcecode {
	background-color: #2a2a2a;
	border: 1px solid #888;
	border-radius: 10px;
}
 
