
div.ui-radios label {
	margin: 0 0.5em;
}

div.ui-radio {
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
	margin: 0;
	border: 2px solid #1a1a1a;
	border-radius: 6px;
	background: #222;
	box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.5);
	cursor: pointer;
	vertical-align: middle;
}

div.ui-radio,
div.ui-radio:hover {
	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

div.ui-radio:hover {
	border: 2px solid #fff;
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

div.ui-radio:hover,
div.ui-radio.active {
 	background: #ff2222; /* Old browsers */
	background-image: -moz-linear-gradient(top, #ff2222 0%, #ff3333 49%, #ff1111 50%, #ff2222 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(49%,#ff3333), color-stop(50%,#ff1111), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #ff2222 0%,#ff3333 49%,#ff1111 50%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=0 ); /* IE6-9 */
}
 
