select {
	width: 5.8em;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #222;
	border: 2px solid #1a1a1a;
	border-radius: 6px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
}

select,
select:hover {
	transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

select:active,
select:hover {
	outline: 0 none;
	border: 2px solid #fff;
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

select option {
	margin: 3px 0px;
	padding: 0px 5px;
	color: #fff;
	background: #222;
}

