
section.inspector-State {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

section.inspector-State.active {
	display: block;
}

section.inspector-State > article.hidden {
	display: none;
}

article h3 {
	margin: 3em 0px 0px 0px;
	padding: 0.25em 1em;
	color: #ffffff;
	font-size: 1em;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

article ul li {
	line-height: 1.2em;
}

article h2 small {
	font-family: 'exolight';
	font-size: 0.5em;
	font-weight: normal;
}

article div.center {
	text-align: center;
	overflow: auto;
}

article img {
	border: 1px solid #ffffff;
}

article p {
	margin: 1em 0;
}

article p.error {
	display: inline-block;
	margin: 1em auto;
	padding: 1em;
	color: #f33;
	background: #ffaaaa;
	border: 1px solid #f99;
	border-radius: 16px;
}

article table {
	margin: 1em auto;
}

