
@font-face {
    font-family: 'exolight';
    src: url('../webfont/exo-light.eot');
    src: url('../webfont/exo-light.eot?#iefix') format('embedded-opentype'),
         url('../webfont/exo-light.woff') format('woff'),
         url('../webfont/exo-light.ttf') format('truetype'),
         url('../webfont/exo-light.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exobold';
    src: url('../webfont/exo-bold.eot');
    src: url('../webfont/exo-bold.eot?#iefix') format('embedded-opentype'),
         url('../webfont/exo-bold.woff') format('woff'),
         url('../webfont/exo-bold.ttf') format('truetype'),
         url('../webfont/exo-bold.svg#exoextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1#logo {
	display: block;
	position: relative;
	margin: 16px auto;
}

h1#logo a {
	display: block;
	width: 384px;
	height: 64px;
	margin: 0 auto;
	background: url('../png/logo.png') no-repeat;
	font-size: 1px;
	color: transparent;
}



small#version {
	display: block;
	margin: 0;
	padding: 8px;
	font-family: exolight;
	font-weight: normal;
	text-align: right;
	color: #cccccc;
}


body {
	color: #ffffff;
	background: #000000;
	font-size: 24px;
}

h2 {
	margin: 0 8px 0 8px;
	padding: 0 0 8px 0;
	font-family: exobold;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	border-bottom: 4px solid #444444;
}

a {
	color: #aa1b1b;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

a:focus,
a:hover,
a:active {
	color: #ff1b1b;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}



#wrapper {
	position: relative;
	margin: 32px auto 8px auto;
	padding: 24px;
	width: 512px;
	border: 4px solid #ff1b1b;
	border-radius: 24px;
	background: #222222;
}

#wrapper-left,
#wrapper-right {
	display: inline-block;
	vertical-align: middle;
	min-width: 240px;
	max-width: 46%;
	margin: 0;
	padding: 1%;
}

#wrapper h1 {
	margin: 0;
	font-family: exobold;
	font-weight: normal;
}

#wrapper p {
	font-family: exolight;
	font-weight: normal;
}

#wrapper #wrapper-hint {
	font-weight: normal;
	font-size: 0.6em;
}

#wrapper figcaption {
	height: 48px;
	margin: 16px;
	line-height: 48px;
	vertical-align: middle;
	text-align: center;
	font-family: exolight;
	font-size: 0.6em;
	border: 2px solid #aa1b1b;
	border-radius: 24px;
}



#kirby{width:120px;height:105px;margin:0 auto;position:relative;z-index:1;}
#kirby .body{background:#F093A8;width:100px;height:100px;border-radius:100px;margin-left:10px;}
#kirby .mouth{background:#6E3136;width:15px;height:10px;position:absolute;left:43%;top:50%;border-radius:5px 5px 15px 15px;overflow:hidden;}
#kirby .tongue{background:#FC827D;height:6px;margin-top:4px;border-radius:15px;}
#kirby .leftfoot,#kirby .rightfoot{background:#95294D;height:20px;width:40px;position:absolute;z-index:-1;}
#kirby .leftfoot{left:5px;bottom:0;border-radius:30px 10px 10px 10px;}
#kirby .rightfoot{right:5px;bottom:0;border-radius:10px 30px 10px 10px;}
#kirby .lefthand,#kirby .righthand{background:#F093A8;height:30px;width:30px;position:absolute;z-index:-1;border-radius:30px;}
#kirby .lefthand{left:0;top:35%;}#kirby .righthand{right:0;top:35%;}
#kirby .leftcheek,#kirby .rightcheek{background:#DC5E84;height:8px;width:20px;position:absolute;border-radius:20px;top:40%;}
#kirby .leftcheek{left:15%;}#kirby .rightcheek{right:15%;}
#kirby .lefteye,#kirby .righteye{background:#000;height:30px;width:10px;position:absolute;border-radius:20px;top:16%;}
#kirby .lefteye{left:35%;}#kirby .righteye{right:35%;}
#kirby .white{height:12px;margin:1px;background:#FFF;border-radius:20px;}
#kirby .blue{height:15px;margin:1px;background:#4A4690;border-radius:20px;}
#kirby .bluecover{height:7px;background:#000;border-radius:20px;}



@media screen and (max-width: 600px) {

	#wrapper {
		width: auto;
	}

	#wrapper-left {
		display: none;
	}

	#wrapper-right {
		display: inline-block;
		margin: 0 auto;
		min-width: 100%;
		max-width: 100%;
	}

}
