
#background {
	width: 100px;
	height: 50px;
	border: 2px solid #999;
	border-radius: 10px;
	background: #444;
	-css-box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.5);
}


#background:touch {
	border: 2px solid #fff;
	background: #f00;
}


#label {
	width: 50px;
	height: 50px;
	border: 2px solid #f22;
}
