
main#dashboard-Main {
	position: absolute;
	top: 144px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

main#dashboard-Main nav {
	display: block;
	position: absolute;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	width: 256px;
	color: #dddddd;
	background: #222222;
	border: 0px solid transparent;
	border-right: 2px solid #8f202f;
	overflow-x: hidden;
	overflow-y: auto;
}

main#dashboard-Main nav b {
	display: block;
	margin: 16px 0px;
	padding: 8px 16px;
	font-family: "exobold";
	font-weight: normal;
	border-bottom: 1px solid #666666;
}

main#dashboard-Main nav ul {
	margin: 0px 0px 32px 0px;
	padding: 0px;
}

main#dashboard-Main nav ul li {
	margin: 0px;
	padding: 2px 14px;
	color: #dddddd;
	font-family: "exolight";
	background: transparent;
	border: 2px solid #222222;
	cursor: pointer;
}

main#dashboard-Main nav ul li:hover,
main#dashboard-Main nav ul li:focus {
	color: #ffffff;
	background: #000000;
	border: 2px solid #ffffff;
	border-radius: 16px;
}

main#dashboard-Main nav,
main#dashboard-Main nav ul li {
	-ms-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

main#dashboard-Main nav.default {
	-ms-transform: translate(-256px, 0px);
	-moz-transform: translate(-256px, 0px);
	-webkit-transform: translate(-256px, 0px);
	transform: translate(-256px, 0px);
}

main#dashboard-Main nav.active {
	-ms-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

main#dashboard-Main section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 256px;
	margin: 0;
	padding: 32px;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}

main#dashboard-Main section.active {
	left: 0px;
}

main#dashboard-Main section.default {
	left: 256px;
}

main#dashboard-Main section {
	-ms-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}



/*
 * CONTENT
 */

article {
	display: block;
	position: static;
	max-width: 768px;
	margin: 16px auto;
	padding: 16px;
	color: #ffffff;
	background: #222222;
	border: 2px solid #dddddd;
	border-radius: 16px;
}

article h1 {
	display: block;
	margin: 0px 0px 1em 0px;
	font-family: "exobold";
	font-size: 1.5em;
	border-bottom: 2px solid #444444;
}

article h2 {
	display: block;
	font-family: "exobold";
	font-size: 1.2em;
}

article h3 {
	display: block;
	font-family: "exobold";
	font-size: 1.0em;
}

article b {
	font-family: "exobold";
	font-weight: normal;
}

article p {
	font-family: "exolight";
}

article a {
	padding: 2px 4px;
	color: #8f202f;
	background: transparent;
	border: 2px solid #222222;
}

article a:hover,
article a:focus {
	color: #ffffff;
	background: #000000;
	border: 2px solid #ffffff;
	border-radius: 8px;
}

article table {
	font-family: 'exolight';
	margin: 0px auto;
	padding: 0px 0px;
	width: 80%;
}

article table.fixed {
	table-layout: fixed;
	word-break: break-all;
}

article table tr.div {
	height: 16px;
}

article table th {
	text-align: left;
	font-weight: normal;
}

article table th,
article table td {
	width: 50%;
	margin: 0px;
	padding: 6px 6px;
	border: 1px dotted #444444;
}

article table tr.left th,
article table tr.left td,
article table td.left {
	text-align: left;
}

article table tr.center th,
article table tr.center td,
article table td.center {
	text-align: center;
}

article table tr.right th,
article table tr.right td,
article table td.right {
	text-align: right;
}

article table td > a {
	display: inline-block;
}


article .scrollarea {
	display: block;
	padding: 16px;
	background: #111111;
	overflow-x: scroll;
	overflow-y: scroll;
	-ms-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}



/*
 * MOBILE DEVICES
 */

@media only screen and (max-width: 580px) {

	h1#ui-logo {
		display: none;
	}

	main#dashboard-Main nav,
	main#dashboard-Main section {
		top: 48px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}

	main#dashboard-Main nav {
		position: fixed;
		width: auto;
		z-index: 200;
	}

	main#dashboard-Main section {
		position: fixed;
		width: auto;
		overflow-x: auto;
		overflow-y: auto;
		z-index: 100;
	}

	main#dashboard-Main nav.active {
		-ms-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}

	main#dashboard-Main nav.default {
		-ms-transform: translate(-100%, 0px);
		-moz-transform: translate(-100%, 0px);
		-webkit-transform: translate(-100%, 0px);
		transform: translate(-100%, 0px);
	}

	main#dashboard-Main section.active,
	main#dashboard-Main section.default {
		left: 0px;
		padding: 16px 2px;
	}

	article {
		display: inline-block;
		width: auto;
		max-width: none;
		height: auto;
		overflow: auto;
	}

	article table {
		width: 100%;
		max-width: none;
	}

}

